.stopwatch{
    height: 100vh;
background: rgb(66, 24, 24);
position: right;
}
#lasttime{
    color: aquamarine;
    font-size: 50pt;
}
#last{
    color: rgb(252, 217, 135);
    font-size: 60pt;
}
#time2{
    font-family: 'digital-7';
    color:blue;
    font-size:100pt;
}